/* Colors */

$primary-background: #000;
$secondary-background: #FFF1DE;

$dark-text: #523A33;

$primary: #FFC87C;
$secondary: #C6CC8D;

$accent: #FEDC84;
$alert: #f00;

/* Spacing Values */
// only left those that used in mockup for now
// $spacing-unit-xxs: 0.25rem;
// $spacing-unit-xs: 0.5rem;
$spacing-unit-sm: 1rem;
// $spacing-unit-med: 1.5rem;
$spacing-unit-lg: 2rem;
// $spacing-unit-xl: 3rem;

/* Misc */

$border-radius-sm: .5625rem;
$border-raius-lg: 0.75rem;
$transition: 0.5s;
$nav-height: 5.125rem;

$icon-big: 2rem;
$icon-sm: 1.375rem;



/* Text sizing */

$para-sm: 0.75rem;
$para-med: 1rem;
$para-lg: 1.25rem;
$header-m: 1.5rem;