/* Colors */

$primary-background: #121212;
$secondary-background: #1f1f1f;
$light-background: #e8e8e8;

$light-text: #ededed;
$dark-text: #121212;

$primary: #00a8a8;
$secondary: #006666;

$accent: #ffd700;
$error: #e74c3c;

/* Spacing Values */
$spacing-unit-xxs: 0.25rem;
$spacing-unit-xs: 0.5rem;
$spacing-unit-sm: 1rem;
$spacing-unit-med: 1.5rem;
$spacing-unit-lg: 2.25rem;
$spacing-unit-xl: 3rem;

/* Misc */

$border-radius: 0.25rem;
$transition: 0.5s;
$divider: 1px $primary solid;
$nav-height-tab: 5rem;
$nav-height-mob: 9rem;

$max-form-field-width: 25rem;
$icon-spacing-unit: 1rem;
$big-icon: 2rem;
$icon-size: 1rem;

$field-input-height: 2rem;
