@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.comment {
  box-shadow: $box-shadow;
  padding: 23px 18px;

  &__needs {
    display: inline-flex;
    gap: 6px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  &__buttons {
    display: flex;
    gap: 9px;
  }
}
