@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.navbar {
    background-color: $primary;
    color: $dark-text; 
  
  &__wrapper {
        // height: $nav-height-mob;
        // background: var(--hfyellow, #FFC87C);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin: 0.5rem;
    }

    &__profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    &__profile {
        width: 50px;
        height: 50px;
        //  width: 50%;
        background-color: gray;
        border-radius: 50%;
    }

    &__menu {
        padding-left: 1rem;
    }
}