@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;

    &__statement {
        width: 80%;
    }
}