@use "./styles/mixins.scss" as *;
@use "./styles/variables.scss" as *;

.app {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  min-height: 100vh;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  @include tablet {
    max-width: 450px;
    min-width: 450px;
  }
}
