@use "./styles/mixins.scss" as *;
@use "./styles/fontfaces.scss" as *;
@use "./styles/variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $muted !important; //is bootstrap overriding this? 

  @include tablet {
    @include flexbox;
  }
}

body,
input,
textarea,
button {
  font-family: 'Montserrat', sans-serif !important; //whyyyyy
  color: $dark-text;
}

a,
:visited {
  color: inherit;
}

/* text sizing */

h1 {
  // page header
  font-size: 1.777rem;
  font-weight: 700;
  line-height: 2.25rem;
}

h2 {
  //subheader
  font-size: 1.333rem;
  font-weight: 700;
}

h3 {
  //small header
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
}